#                                    T&T LAB- 02
# Name : Sudip Chakrabarty
# Roll : 21053329
# Sec : CSE-34

# Experiment-7: Create a list of numbers and perform various operations such as adding elements, removing elements, and accessing elements by index.

In [1]:
L1 = ["CC","CD","ML","DA","T&T"]
L2 = [1,2,3,4,5,6]
L3 = ["T&T", 8.00, "AM", 11, "AM"]

In [2]:
print(len(L1))
print(len(L2))
print(len(L3))

5
6
5

In [3]:
#Add
L1.append("Open_Elective")
print(L1)
L2.append(7)
print(L2)

['CC', 'CD', 'ML', 'DA', 'T&T', 'Open_Elective']
[1, 2, 3, 4, 5, 6, 7]

In [4]:
L3.extend(["CC",3.00,"PM", "SPM", 4.00, "PM"])
print(L3)

['T&T', 8.0, 'AM', 11, 'AM', 'CC', 3.0, 'PM', 'SPM', 4.0, 'PM']

In [5]:
#first argument specifies the position,second argument specifies the element to be inserted.
L1.insert(0,"6th Semester Subjects")
print(L1)

['6th Semester Subjects', 'CC', 'CD', 'ML', 'DA', 'T&T', 'Open_Elective']

In [6]:
#Remove
L1.append("Test Remove")
print(L1)
L1.remove("Test Remove")
print(L1)

['6th Semester Subjects', 'CC', 'CD', 'ML', 'DA', 'T&T', 'Open_Elective', 'Test Remove']
['6th Semester Subjects', 'CC', 'CD', 'ML', 'DA', 'T&T', 'Open_Elective']

In [7]:
#Accessing elements
print(L2[:4])
print(L2[2:])
print(L2[2:4])
print(L2[:])

[1, 2, 3, 4]
[3, 4, 5, 6, 7]
[3, 4]
[1, 2, 3, 4, 5, 6, 7]

In [8]:
L1.reverse()
print(L1)

['Open_Elective', 'T&T', 'DA', 'ML', 'CD', 'CC', '6th Semester Subjects']

# Experiment-8: Create a tuple to represent an immutable collection and try accessing elements and performing basic operations.

In [9]:
m_t = (1,2,3,"Sudip","Sorup", True)   #Immutable
print(m_t[0])
print(m_t[4])

1
Sorup

In [10]:
m_t = (1,2,3,"Sudip","Sorup", True,(4,5))
print(m_t)

(1, 2, 3, 'Sudip', 'Sorup', True, (4, 5))

In [11]:
#Accessing Elements
my_tuple1 = (8,6,2,'h','f')
print(my_tuple1[0])
print(my_tuple1[3])

8
h

In [12]:
#Slicing
print(m_t[1:4])
print(m_t[:3])
print(m_t[2:])

(2, 3, 'Sudip')
(1, 2, 3)
(3, 'Sudip', 'Sorup', True, (4, 5))

In [13]:
# Example of Immutabe
# tuple1 = (1,2,3)
# tuple[1]=10

# Experiment-9: Create a set to store unique elements and perform set operations such as union, intersection, and difference.

In [14]:
set1 = set("Sudip Chakrabarty")
print(set1)

{'b', 'C', 'h', 'i', 'S', 't', 'y', 'u', 'a', 'r', ' ', 'p', 'k', 'd'}

In [15]:
vowels = {'a', 'e', 'i', 'o', 'u'}
print(vowels)

{'a', 'u', 'i', 'o', 'e'}

In [16]:
# Union Operation
A1= {1, 2, 3, 4}
A2= {1, 5, 3, 6}
A3= {1, 3, 7, 8}
print(A1.union(A2, A3))

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
# Intersection operation
intersection_result = A1.intersection(A2, A3)
print("Intersection:", intersection_result)

Intersection: {1, 3}

In [18]:
# Difference operation
difference_result = A1.difference(A2, A3)
print("Difference:", difference_result)

Difference: {2, 4}

# Experiment-10: Create a dictionary to represent key-value pairs and perform operations like adding, updating, and accessing values.

In [19]:
#Access the dictionary with keys
dict1={1:"Sudip",2:"Sorup",3:"Pappu",4:"Muhit"}
print("\nPrinting student names:")
print("1:%s"%dict1[1])
print("2:%s"%dict1[2])
print("3:%s"%dict1[3])
print("4:%s"%dict1[4])
print(dict1)

Printing student names:
1:Sudip
2:Sorup
3:Pappu
4:Muhit
{1: 'Sudip', 2: 'Sorup', 3: 'Pappu', 4: 'Muhit'}

In [20]:
print(dict1.get(2))
print(dict1.get(3))

Sorup
Pappu

In [21]:
dict1.update({1 : 'Sudip Chakrabarty'})
print(dict1)

{1: 'Sudip Chakrabarty', 2: 'Sorup', 3: 'Pappu', 4: 'Muhit'}

In [22]:
dict1[5] = 'Sapthak'
print(dict1)

{1: 'Sudip Chakrabarty', 2: 'Sorup', 3: 'Pappu', 4: 'Muhit', 5: 'Sapthak'}

In [23]:
del dict1[5]
print(dict1)

{1: 'Sudip Chakrabarty', 2: 'Sorup', 3: 'Pappu', 4: 'Muhit'}

In [24]:
# ---End---